@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Kamenići Home Page</p>
    <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.6435-9/65250739_400928733853937_7378551959655022592_n.png?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=AzmUpiXDuzQAX-9XP8V&_nc_ht=scontent-frt3-1.xx&oh=00_AT_vsuurE1N3LzjiTBinH7kopucw0JSWPekXHMGy9ytVuQ&oe=61FA3988"/>
</div>
